.products_pagination {
  position: absolute;
  height: 70px;
  background-color: #ddd;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
}
.products_pagination_flex {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 22px;
  justify-content: space-between;
}
.products_pagination_flex svg {
  width: 35px;
  height: 35px;
}
.flex {
  display: flex;
  gap: 40px;
}
