.container {
  height: 100vh;
  display: flex;
}
.products_container {
  width: 70%;
  position: relative;
  border-left: 1px solid #ddd;
}
.ticket_container {
  width: 30%;
  position: relative;
}
.navbar {
  height: 70px;
  background-color: red;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
}
.navbar_btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
}
.navbar_input {
  height: 50px;
  padding: 0 10px;
  flex: 1;
  font-size: 22px;
  outline: none;
  border: none;
}
.scroll {
  height: calc(100vh - 70px - 70px);
  overflow-y: scroll;
}
.main_products {
  display: grid;
  /* full responsive in one line */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 10px;
}
.product_card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 5px #cccccc83, -2px -2px 5px #cccccc83;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.product_card h3 {
  font-size: 25px;
}
.product_card svg {
  width: 30px;
  height: 30px;
}
.product_card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.product_card img {
  width: 100%;
  display: block;
  object-fit: fill;
  object-position: center;
}
.product_card_name {
  position: absolute;
  min-height: 20%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(15, 20, 21, 0.667) 0%,
    rgba(168, 162, 162, 0.665) 100%
  );
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 5px;
  text-align: center;
}
.product_card_name h3 {
  color: white;
  font-size: 18px;
}
.products_pagination {
  position: absolute;
  height: 70px;
  background-color: #ddd;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
}
.products_pagination_flex {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 22px;
  justify-content: space-between;
}
.products_pagination_flex svg {
  width: 35px;
  height: 35px;
}
.flex {
  display: flex;
  gap: 40px;
}

@media (max-width: 1300px) {
  .product_card {
    width: 18.9%;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 5px #cccccc83, -2px -2px 5px #cccccc83;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 180px;
  }
  .product_card_name h3 {
    color: white;
    font-size: 15px;
  }
  .main_products {
    height: 80vh;
  }
}
