.container {
  background-color: rgba(0, 0, 0, 0.883);
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_box {
  min-height: 630px;
  width: 800px;
  background-color: var(--color-white);
  padding: 20px;
  position: relative;
  border-radius: 10px;
}
.client_box_selector {
  width: 800px;
  background-color: var(--color-white);
  padding: 20px;
  position: relative;
  padding: 50px 20px;
  border-radius: 10px;
}
.bnt_close {
  position: absolute;
  right: 12px;
  top: 8.5px;
  font-size: 30px;
  font-weight: 400;
  background: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);
  border: none;
}
.client_box h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-color: #8e8e8e;
}
.input_container {
  position: relative;
  width: 100%;
  display: inline-block;
}
.bnt_reset {
  position: absolute;
  right: 12px;
  top: 8.5px;
  font-size: 30px;
  font-weight: 400;
  background: none;
  border: none;
  color: #8e8e8e;
}
.client_box input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  outline-color: #8e8e8e;
  border-radius: 10px;
}
.btn_search {
  width: 20%;
  padding: 15px;
  font-size: 18px;
}
.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  position: absolute;
  top: 146px;
  width: 95%;
  z-index: 5;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown:empty {
  border: none;
}

.dropdown_row {
  cursor: pointer;
  text-align: start;
  padding: 8px;
  font-size: 18px;
  transition: 0.4s;
}
.dropdown_row:hover {
  background-color: #f1f1f1;
}
.field {
  padding: 15px;
  background-color: white;
  margin-top: 30px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}
.field_input {
  margin-top: 30px;
  position: relative;
}
.field_input span {
  position: absolute;
  top: -18px;
  left: 10px;
  font-size: 14px;
  color: #666;
}
.field span {
  position: absolute;
  top: -18px;
  left: 10px;
  font-size: 14px;
  color: #666;
}
.client_data {
  margin-top: 30px;
}
.btn_send {
  padding: 15px;
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  background: var(--gradient-primary);
  color: white;
  border: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
}
.btn_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn_container h2 {
  letter-spacing: 1px;
}
.btn_select_order {
  width: 100%;
  padding: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border: none;
  color: rgb(248, 246, 246);
  background: var(--gradient-primary);
  border-radius: 10px;
}
.delivery_select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 16px;
  outline: #2d2d2d;
}
.delivery_select_error {
  width: 100%;
  border: 1px solid #fd0202;
  padding: 15px;
  font-size: 16px;
  outline: #fd0202;
}
.error {
  color: red;
  font-size: 14px;
}
