.container {
  position: fixed;
  top: 0;
  left: -350px;
  z-index: 10;
  height: 100vh;
  width: 350px;
  background-color: var(--color-grey);
  color: var(--color-white);
  padding: 20px;
  transition: 0.3s;
}
.container_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 350px;
  background-color: var(--color-grey);
  padding: 20px;
  transition: 0.3s;
  color: var(--color-white);
  border-right: 1px solid #303043;
}
.container_active h2 {
  text-align: center;
  font-size: 28px;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.menu_list {
  list-style: none;
  margin-top: 20px;
}
.menu_list a {
  text-decoration: none;
  color: var(--color-white);
}
.menu_list li {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  transition: 0.3s;
}
.menu_list li:hover {
  background-color: #666;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.btn_close {
  position: absolute;
  right: 13px;
  top: 13px;
  border: none;
  color: var(--color-white2);
  background-color: transparent;
  font-size: 30px;
}
.btn_close:hover {
  cursor: pointer;
}
.btn_close svg {
  height: 20px;
  width: 20px;
}

.menu__logo {
  max-width: 200px;
}
.menu__logo img {
  width: 100%;
}

.menu__logo_container {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 35px;
  border-bottom: 1px solid #6b6b88;
}
