.container {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;
}
.order_container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  color: #4e4e4e;
}

.order_container_active {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  color: white;
  background-color: rgba(102, 113, 126, 0.892);
}
.order_container:hover {
  color: white;
  background-color: #aaa;
  cursor: pointer;
}
.order_container_active:hover {
  color: white;
  background-color: rgba(102, 113, 126, 0.892);
  cursor: pointer;
}
.col1 {
  width: 15%;
}
.col2 {
  width: 40%;
}
.col3 {
  width: 40%;
}
.col4 {
  width: 15%;
  text-align: right;
}

@media (max-width: 1300px) {
  .order_container {
    font-size: 16px;
  }

  .order_container_active {
    font-size: 16px;
  }
}
