.container {
  font-size: 20px;
}
.container h4 {
  margin: 5px 0;
}
.navbar {
  background-color: var(--color-grey);
  height: 70px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
}
.ticket_btn_delete {
  height: 60px;
  width: 50%;
  background: var(--gradient-primary2);
  color: white;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
}
.ticket_btn_delete:disabled {
  background: var(--gradient-grey1);
  cursor: not-allowed;
  color: #222222;
}
.ticket_btn_quantity {
  height: 60px;
  width: 50%;
  background: var(--gradient-grey3);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
}
.ticket_btn_quantity:disabled {
  background: var(--gradient-grey1);
  cursor: not-allowed;
  color: #222222;
}
.ticket_code {
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  height: 60px;
  display: flex;
  background-color: #ccc;
}
.footer {
  background-color: var(--color-grey);
  height: 70px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
}
.ticket_btn_send {
  height: 60px;
  width: 50%;
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
}
.ticket_btn_send:disabled {
  height: 60px;
  width: 50%;
  background-color: rgb(162, 161, 161);
  color: white;
  border: none;
  font-size: 20px;
  cursor: not-allowed;
}
.ticket_btn_cancel {
  height: 60px;
  width: 50%;
  background: var(--gradient-grey3);
  color: white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  border-color: 1px solid #666;
  padding: 10px;
}
.client {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;

  font-size: 23px;
  transition: all 0.3s;
}
.client:hover {
  background-color: #eee;
  cursor: pointer;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #666;
  margin: 5px 0;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product_active {
  background-color: var(--color-grey2);
  color: white;
  padding: 10px;
  transition: 0.2s;
}
.product {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: 0.2s;
}
.product_active:hover {
  cursor: pointer;
  background-color: var(--color-grey2);
}
.product:hover {
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.197);
}
.quantity {
  background-color: var(--color-grey);
  color: white;
  height: 30px;
  min-width: 30px;
  display: inline-block;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3px;
  padding: 0 5px;
}
.client_empty {
  background-color: #f2f295;
  text-align: center;
  padding: 10px;
}
.client_empty_text {
  font-size: 15px;
}
.deliveryOrder {
  padding: 10px;

  border-top: 1px solid #666;
  background-color: #d5dce6;
}
.deliveryOrder h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
