@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --font-1: "Bebas Neue", cursive;
  --color-pendiente: #ddd613;
  --color-completado: #37b00b;
  --color-rechazado: #dd132b;
  --color-red: #db1212;
  --color-black: #4c4c4c;
  --color-white: #f1f1f1;

  --font-1: "Open Sans", sans-serif;
  --font-2: "Bebas Neue", sans-serif;

  --bkg: #292c2c;
  --white: #eeeeee;
  --accent: #0cbcd3;
  --easing: 0.6s cubic-bezier(0.3, -0.01, 0.06, 1);

  --widthMenu1: 0px;
  --widthMenu2: 0px;
  --widthMenu3: 0px;
  --widthMenu4: 0px;
  --widthMenu5: 0px;
}

/*-------------- boton con loading---------------- */

.btn-load {
  background-color: var(--color-red);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;

  padding: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
  position: relative;
}
.btn-load:hover {
  box-shadow: 2px 2px 5px #887c7c;
  transform: scale(1.003);
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
.form__error {
  font-size: 12px;
  color: red;
  margin-left: 40px;
}
button:hover {
  cursor: pointer;
}
